/**
* cluetip form and new hotspot form close icon 
*/

.close,.cluetip-close,#cluetip-close
{
	background-image:url('close.png') !important;
	background-repeat: no-repeat;
	height: 15px;
	width: 15px;
	float: right;	
	cursor: pointer;
}

/**
* hotspot default icon
*/

.hotspot-image
{
	background-image: url('hotspot.png');
}


#cluetip-inner
{
	display: block !important;
} 

.hotspot {
	cursor:pointer;
}

#floating form .form-submit{ display:none }

#floating form .wysiwyg-toggle-wrapper,
#floating form .fieldset-wrapper,
#floating form .form-wrapper
{
	display: none;
}

#floating form #fake-submit{
	margin-top: 10px;
}

.container-inline div, .container-inline label {
display:block !important;
}

.zoom-image
{
	background-image: url('Increase_and_decrease.png');
	background-repeat: no-repeat;
	border: none;
	background-position:2px 5px;
	background-color: #fff;
	width: 36px;
	height: 38px;
}

.zoomout
{
	background-position:-36px 50%;
}

/**
* cluetip form and new hotspot form close icon 
*/
.legend-title
{
	font-size: 22px;
	text-decoration: underline;
}

#legends
{
	padding:5px 20px;
}